.DS_Store
*.pyc
__pycache__/
.venv/
env/
.env
.env.*
!**/.env.example
*.retry
ansible/.vault_pass
ansible/vault_pass.txt
ansible/.vault_password
/.ansible/
*~ 
*.swp
*.swo
logs/
tmp/
secrets/
.idea/
.vscode
