# Copy this file to ".env" and fill in real values. Do not commit actual .env files.
    N8N_ENCRYPTION_KEY=
    WEBHOOK_URL=
    N8N_EDITOR_BASE_URL=
    GENERIC_TIMEZONE=America/New_York
    TZ=America/New_York
    N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
    N8N_RUNNERS_ENABLED=true
    N8N_PORT=5678
    N8N_PROTOCOL=http
    N8N_SECURE_COOKIE=true 
