## MongoDB Settings
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_USER=unifi
MONGO_PASS=unifipassword
MONGO_DBNAME=unifi
MONGO_AUTHSOURCE=admin

# Unifi Network Application Settings
PUID=1000
PGID=1000
TZ=America/New_York
MONGO_USER=unifi
MONGO_PASS=unifipassword
MONGO_HOST=unifi-db
MONGO_PORT=27017
MONGO_DBNAME=unifi
MONGO_AUTHSOURCE=admin
