services:
    unifi-db:
      image: docker.io/mongo:8.2.2-rc0-noble
      container_name: unifi-db
      env_file:
        - .env
      volumes:
        - ./unifi-db/data:/data/db
        - ./config/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
      restart: unless-stopped
      networks:
        - unifi-network
      labels:
        com.homelab.service: "unifi-db"
        com.homelab.maintainer: "homelab"

    unifi-network-application:
      image: lscr.io/linuxserver/unifi-network-application:latest
      container_name: unifi-network-application
      env_file:
        - .env
      volumes:
        - ./unifi-network-application/data:/config
      ports:
        - 8443:8443
        - 3478:3478/udp
        - 10001:10001/udp
        - 8080:8080
        - 1900:1900/udp #optional
        - 8843:8843 #optional
        - 8880:8880 #optional
        - 6789:6789 #optional
        - 5514:5514/udp #optional
      restart: unless-stopped
      networks:
        - unifi-network
      labels:
        com.homelab.service: "unifi-network-application"
        com.homelab.maintainer: "homelab"

networks:
    unifi-network:



