ACTUAL_PORT=5006
ACTUAL_UPLOAD_FILE_SYNC_SIZE_LIMIT_MB=20
ACTUAL_UPLOAD_SYNC_ENCRYPTED_FILE_SYNC_SIZE_LIMIT_MB=50
ACTUAL_UPLOAD_FILE_SIZE_LIMIT_MB=20

ACTUAL_OPENID_DISCOVERY_URL=https://authentik.company/application/o/<application_slug>/
ACTUAL_OPENID_CLIENT_ID=Your Client ID from authentik
ACTUAL_OPENID_CLIENT_SECRET=Your Client Secret from authentik
ACTUAL_OPENID_SERVER_HOSTNAME=https://actual.company
